.main_container {
    height: 94vh;
    height: 94dvh;
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Container for the HERO */
.main_container > div:nth-child(1) {
    flex-basis: 100%;
}
/* Container for the INFO */
.main_container > div:nth-child(2) {
    background-color: purple;
    flex-basis: auto;
    flex: 1;
    display: none;
}
@media (min-width: 900px) {
}
@media (min-width: 1250px) {
    .main_container > div:nth-child(2) {
        display: block;
    }
    .main_container > div:nth-child(1) {
        flex-basis: 70%;
    }
    .main_container {
        flex-direction: row;
        width: auto;
        flex-grow: 1;
        height: 100vh;
        height: 100dvh;
    }
}