.main_container {
    border: 1px solid pink;
    height: 98vh;
    height: 98dvh;
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_container > div:nth-child(1) {
    background-color: pink;
    flex-basis: 80px;
}
.main_container > div:nth-child(2) {
    background-color: brown;
    flex-basis: 50%;
}
.main_container > div:nth-child(3) {
    background-color: purple;
    flex-basis: auto;
    flex: 1;
}
.main_container > div {
    border: 1px solid red;
}
@media (min-width: 900px) {
    .main_container {
    }
}
@media (min-width: 1250px) {
    .main_container {
        flex-direction: row;
    }
    .main_container > div:nth-child(1) {
        flex-basis: 100px;
    }
}