.hero_section_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}
.hero_container {
    position: relative;
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 3;
    z-index: 3;
}
.landscape {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 36% 36% 0 0;
    object-fit: cover;
    object-position: 0px 0px;
    filter: blur(3px);
    z-index: 1;
}
.divider {
    position: absolute;
    display: none;
    z-index: 4;
}
.model_3d {
    position: absolute;
    height: 587px;
    width: 444px;
    display: none;
    transition: 0.3s;
    z-index: 5;
    filter: drop-shadow(2px 4px 6px black);
}
.hero_img {
    display: flex;
    position: absolute;
    z-index: 4;
    bottom: 20px;
}
@media (min-width: 900px) {
    .hero_section_container {
        justify-content: flex-start;
    }
    .landscape {
        height: 100%;
        border-radius: 36px;
    }
    .stats_container {
        display: flex;
        bottom: 30px;
        left: 37px;
    }
    .divider {
        position: absolute;
        display: flex;
        width: 30%;
        min-width: 325px;
        height: 45%;
        top: -5px;
        right: -5px;
        border-radius: 0 0 0 36px;
        background-color: var(--main-background-color);
    }
    .divider::before,
    .divider::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 36px;
        background-color: transparent;
    }
    .divider::before {
        right: 100%;
        box-shadow: 30px -30px var(--main-background-color);
    }
    .divider::after {
        box-shadow: 30px -30px var(--main-background-color);
        top: 100%;
        right: 0px;
    }
    .model_3d {
        bottom: 60%;
        right: -55px;
        display: flex;
        scale: 0.9;
    }
    .hero_img {
        display: none;
    }
}
@media (min-width: 1250px) {
    .hero_section_container {
        justify-content: center;
    }
    .hero_container {
        width: 100%;
        height: 100%;
    }
    .landscape {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
    }
    .stats_container {
        bottom: 17px;
    }
    .divider {
        width: 30%;
        min-width: 325px;
        height: 55%;
        top: auto;
        bottom: -5px;
        right: 0px;
        border-radius: 36px 0 0 0;
    }
    .divider::before,
    .divider::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 36px;
        background-color: transparent;
    }
    .divider::before {
        right: -2px;
        bottom: 100%;
        box-shadow: 30px 30px var(--main-background-color);
    }
    .divider::after {
        box-shadow: 30px 30px var(--main-background-color);
        top: auto;
        bottom: 0px;
        right: 100%;
    }
    .model_3d {
        bottom: 60%;
        right: -83px;
        scale: 1;
    }
}
