.hero_section_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.landscape {
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 36px 36px 0 0;
    aspect-ratio: 9 / 3;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}
.model_3d {
    position: absolute;
    display: none;
}
@media (min-width: 900px) {
    .hero_section_container {
        justify-content: flex-start;
    }
    .landscape {
        height: 93%;
        border-radius: 36px;
    }
}
@media (min-width: 1250px) {
    .hero_section_container {
        justify-content: center;
    }
    .landscape {
        width: 100%;
        height: 26vw;
        max-height: 400px;
    }
}