.main_container {
    flex-direction: column;
    justify-content: flex-end;
    gap: 3%;
    align-items: flex-end;
    z-index: 1;
}
.theme_holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 40px;
    transition: .3s;
    position: relative;
    border-radius: 0px 30px 30px 0px;
}
.theme_holder:hover {
    width: 150px;
    transition: .3s;
}
.theme_holder:hover p {
    rotate: 180deg;
    scale: 1.05;
    transition: .3s;
}
.theme_picker {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    width: 80%;
    z-index: 1;
}
.theme_picker p {
    cursor: pointer;
    font-size: 2.7rem;
    z-index: 2;
    scale: 1;
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.theme_container {
    z-index: 1;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    padding: 4px 6px;
}
.options {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
    scale: 1;
    transition: .3s;
}
.options:hover {
    scale: 1.1;
    transition: .3s;
}
.options.red {
    background-color: red;
    box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.679), inset -1px -1px 3px 0px rgba(0, 0, 0, 0.597);
    border: 2px solid rgb(137, 6, 6);
}
.options.green {
    background-color: rgb(0, 249, 0);
    box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.679), inset -1px -1px 3px 0px rgba(0, 0, 0, 0.597);
    border: 2px solid rgb(46, 138, 4);
}
.options.blue {
    background-color: blue;
    box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.679), inset -1px -1px 3px 0px rgba(0, 0, 0, 0.597);
    border: 2px solid rgb(8, 8, 118);
}
.about_section {
    gap: 3%;
    background-color: var(--secondary-color);
    width: 90%;
    height: 58%;
    max-height: 850px;
    border-radius: 36px;
    box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.579);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_title {
    position: relative;
    width: 100%;
    height: 5%;
}
.about_container {
    background-color: var(--inner-container-color);
    width: 80%;
    height: 70%;
    max-width: 365px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_container p {
    width: 86%;
    font-weight: 200;
    height: 90%;
    font-size: clamp(1.2rem, .8vw, 1.4rem);
    letter-spacing: 2px;
}
.about_buttons {
    width: 80%;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about_buttons a {
    color: var(--tag-color);
    font-size: 1.2rem;
}
.skills {
    background-color: var(--secondary-color);
    min-height: 200px;
    height: 25%;
    z-index: 15;
    width: clamp(610px, 187%, 955px);
    border-radius: 36px;
    position: relative;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.579);
}
.about_title h6,
.skills h6 {
    position: absolute;
    top: -10px;
    left: -15px;
    width: fit-content;
    background-color: var(--darker-main-color);
    border-radius: 15px;
    box-shadow: inset 3px 3px 6px 0px rgba(255, 255, 255, 0.198), inset -4px -4px 3px 0px rgba(0, 0, 0, 0.437), 3px 3px 3px 1px rgba(0, 0, 0, 0.365);
    font-weight: 800;
    font-size: 3.5rem;
    padding: 3px 30px;
    rotate: -15deg;
    letter-spacing: 3px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.502);
}
.skills h6 {
    z-index: 5;
}
@media (min-width: 1420px) {
    .skills {
        width: clamp(610px, 180%, 955px);
    }
}
@media (min-width: 1500px) {
    .skills {
        width: clamp(610px, 171%, 955px);
    }
}
@media (min-width: 1740px) {
    .skills {
        width: clamp(610px, 166%, 955px);
    }
}