.stats_container {
    position: relative;
    display: flex;
    background-color: var(--secondary-container-bg);
    box-shadow: 2px 2px 13px 1px #0000008f;
    width: 50%;
    height: 48%;
    z-index: 4;
    display: none;
    max-width: 450px;
    border-radius: 36px;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.top_expertise {
    align-self: flex-end;
    flex-basis: 53%;
    display: flex;
    align-items: flex-end;
    width: 85%;
}
.year_xp {
    font-size: 12.5rem;
    line-height: 75px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--tag-color);
    width: 95px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.year_xp span {
    font-size: 3.5rem;
    translate: -10px;
    font-weight: 600;
}
.year_string {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 25px;
    width: 80px;
    letter-spacing: 1px;
}
.bottom_data {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 1.9rem;
    width: 85%;
    line-height: 25px;
    font-weight: 200;
    letter-spacing: 1px;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7%;
}
.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 105%;
    background-position: center;
    box-shadow: inset 3px 1px 7px 0px #ffffff66;
    transition: .3s;
    scale: 1;
    background-color: white;
}
.links a:hover {
    box-shadow: inset -3px -1px 7px 0px #ffffff66;
    scale: 1.1;
    background-size: 112%;
    transition: .3s;
}
.links a:nth-child(1) {
    background-image: url('/img/linkedin.png');
}
.links a:nth-child(2) {
    background-image: url('/img/github.png');
}
.links a:nth-child(3):hover {
    box-shadow: inset 3px 1px 7px 0px #00000080;
    scale: 1.1;
    background-size: 112%;
    transition: .3s;
}
.links a:nth-child(3) {
    background-image: url('/img/gmail.webp');
    box-shadow: inset -3px -1px 7px 0px #00000080;
}
.tag_container {
    position: absolute;
    top: -7px;
    left: -30px;
    rotate: -14deg;
}
@media (min-width: 900px) {
    .stats_container {
        display: flex;
        bottom: 30px;
        left: 37px;
        width: 55%;
    }
    .details {
        flex-basis: 77%;
    }
    .links {
        flex-grow: 1;
    }
}
@media (min-width: 1250px) {
    .stats_container {
        bottom: 17px;
        width: 50%;
    }
}