html {
    scroll-behavior: smooth;
}
/* This is your "Minimalist" foundation */
body {
    background-color: #f8f8f8;
    color: #111827;
    margin: 0;
    padding: 0;
    /* This will use the "Inter" font we set up in layout.tsx */
    font-family: var(--font-inter), sans-serif;
}

/* This is the "Meximalist" theme system */
/* We can still use CSS variables! */
.theme-magicmail {
    --accent-color: #10b981;
}
.theme-ai {
    --accent-color: #3b82f6;
}
.theme-saas {
    --accent-color: #f59e0b;
}

body main > div > section:nth-child(1) {
    max-width: 2000px;
    margin: 0px auto;
    padding: 0px 8%;
}
body main > div > section {
    max-width: 2000px;
    margin: 50px auto;
    padding: 70px 15% 70px 10%;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
