.projects_container {
    margin: 50px 0;
    width: 100%;
    overflow-x: clip;
}
.projects_list {
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 900px) {
    .projects_container {
        margin: 90px 0;
    }
    .projects_list {
        gap: 35px;
    }
}
@media (min-width: 1250px) {
    .projects_container {
        margin: 110px 0;
    }
    .projects_list {
        width: 85%;
        gap: 35px;
    }
}
